.home{
    .seo{
        background-color: #fff;
        max-width: 1200px;
        width: 100%;
        margin: 50px auto;
        padding: 16px;
        border-radius: 14px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);

        p{
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 14px;
        }
        
    }
    h1{
        text-align: center;
    }
}